<h1 id='form_title' class='form title'>Webrat Buttons Form</h1>

<% form_tag "/buttons" do %>
  <input type="button" id="input_button_id" value="input_button_value" />
  <input type="submit" id="input_submit_id" value="input_submit_value" />
  <input type="image" id="input_image_id" value="input_image_value" alt="input_image_alt" src="" />

  <button type="button" id="button_button_id" value="button_button_value">button_button_text</button>
  <button type="submit" id="button_submit_id" value="button_submit_value">button_submit_text</button>
  <button type="image" id="button_image_id" value="button_image_value">button_image_text</button>
<% end %>