<h1>Webrat Form</h1>

<form action="/testing/submit_form" method="post">
  <label>
    Text field
    <input type="text" name="text_field" />
  </label>
  
  <label>
    TOS <input type="checkbox" name="tos" />
  </label>
  
  <label>
    Prefilled
    <input type="text" name="prefilled" value="text" />
  </label>
  
  <label>
    Month
    <select name="month">
      <option>None</option>
      <option>January</option>
    </select>
  </label>
  
  <input type="submit" value="Test">
</form>