<h1>Webrat Fields Page</h1>
<h2>Filling In</h2>
<ul>
	<li><input type="text" name="field_by_name" value="" /></li>
	<li><input type="text" name="rails[naming]" value="" /></li>
	<li><input type="text" id="field_by_id" value="" /></li>
	<li><label for="field_by_label_id">FieldByLabelId</label><input type="text" id="field_by_label_id" /></li>
	<li><label for="field_by_label_with_special_characters">[Field]:</label><input type="text" id="field_by_label_with_special_characters" /></li>
</ul>